$red: #d11141;
$green:#00b159;
$blue: #00aedb;
$orange: #f37735;
$yellow: #ffc425;
$teal: #35a79c;

.border {
  border-color: lightgray;
}

.badge {
  padding: 4px 6px;
  color: white;
  background: lightgray;
  font-size: 12px;
  border-radius: 12px;

  &.teal {
    background: $teal;
  }

  &.red {
    background: $red;
  }

  &.green {
    background: $green;
  }

  &.blue {
    background: $blue;
  }

  &.orange {
    background: $orange;
  }

  &.yellow {
    background: $yellow;
  }
}

.font-sans {
  font-family: sans-serif;
}

.accordion {
  &:hover {
    cursor: pointer;
  } 
}