$black: #212121;
$blue: #00aedb;
$green: #00b159;
$orange: #f37735;
$red: #d11141;
$teal: #35a79c;
$light-grey: #f1f1f1;
$yellow: #ffc425;
$white: #fff;
$dark-blue: #131539;

header{

  & h1{
    font-size: 1.5em;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
}

.border {
  border-color: lightgray;
}

.panel{
  border: none;
  border-top: 1px solid lightgrey;
  padding-bottom: 16px;
  margin: 0px -16px 0px -16px; 
}

.badge {
  background: lightgray;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  margin: 0.25em 0.25em 0.5em 0em;
  padding: 4px 6px;

  &.teal {
    background: $teal;
  }

  &.red {
    background: $red;
  }

  &.green {
    background: $green;
  }

  &.blue {
    background: $blue;
  }

  &.orange {
    background: $orange;
  }

  &.yellow {
    background: $yellow;
  }
}

.font-sans {
  font-family: sans-serif;
}

.text-dark {
  color: $black;
}

.text-grey {
  color: #4a4a4a;
}

.accordion {
  .dropdown {
    max-height: 0;
    overflow: hidden;
  }
  &:hover {
    cursor: pointer;
  }
  &.active {
    .fa {
      transform: rotate(180deg);
    }
    .dropdown {
      max-height: 100%;
    }
  }
}

.dropdown{
  transition: max-height .3s ease-out;
}

.fa{
  transition: 0.3s;
  font-size: 30px;
}

.box-shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.tabs-container {
  background-color: $light-grey;
  display: flex;
  overflow: hidden;
  button {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    outline: none;
    float: left;
    font-size: 1em;
    padding: 1em 0.5em;
    transition: 0.3s;
    width: 100%;
    &:hover {
      background-color: #ddd;
    }
    &.active {
      background-color: $white;
      border-bottom: none;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      border-top: 1px solid lightgrey;
    }
  }
}

.bg-blue {
  background-color: $dark-blue;
}

.white {
  color: $white;
}

.sponsor{
  display: relative;
  & img{
    max-width: 12.5vw;
    max-height: 100px;
    position: relative;
  }
  &::before {
    top: 1px;
    right: 1px;
    font-size: 1vw;
    content: "Sponsored By";
    margin: auto;
  }
}